<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<h1 class="special-title">Modifier mon <br> profil</h1>
<div class="form-edit-user flex-column align-items-center p-4 rounded-3">

  <div class="py-2 form-group text-center">
    <label for="email" style="display: block" class="form-label">E-mail </label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input rounded-3" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= form_for(current_user, url: new_pseudo_path, method: :patch) do |f| %>
    <div class="actions text-center">
      <label for="pseudo" style="display: block" class="form-label">Pseudo </label>
      <%= f.text_field :pseudo, minlength: 3, class: "form-input rounded-3" %>
    </div>
  <% end %>

  <div class="py-2 form-group text-center">
    <label for="current-password" style="display: block" class="form-label">Mot de passe actuel </label>
    <%= f.password_field :current_password, minlength: 6, autocomplete: "current-password", class: "form-input rounded-3" %>
  </div>

  <div class="py-2 form-group text-center">
    <label for="new-password" style="display: block" class="form-label">Nouveau mot de passe <i>(6 caractères minimum)</i></label>
    <%= f.password_field :password, minlength: 6, autocomplete: "new-password", class: "form-input rounded-3" %>
  </div>

  <div class="py-2 form-group text-center">
    <label for="title" style="display: block" class="form-label">Confirmation nouveau mot de passe </label>
    <%= f.password_field :password_confirmation, minlength: 6, autocomplete: "new-password", class: "form-input rounded-3" %>
  </div>
  <br>

  <div class="actions text-center">
    <%= f.submit "Mettre à jour le profil", class: 'btn-out' %>
  </div>
<% end %>
  <br>

<div class="text-center"><p>Pour supprimer votre compte veuillez contacter un administrateur à l'adresse mail lesaventuriersacvcs@gmail.com</p><%#= button_to "Supprimer mon compte", profil_user_delete_path, data: { confirm: "Êtes-vous sûr ?", turbo_confirm: "Êtes-vous sûr ?" }, method: :delete, class: 'btn-out' %></div>
<br>

<%= link_to "Retour au profil", :back %>
</div>