<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="container-sign_up">
  <div class="card-body-sign_up">
    <h2 class="sign-title" style="text-align: center">S'INSCRIRE</h2>
      <div class="field-sign_up">
        <label for="email" style="display: block" class="form-label">E-mail </label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field-sign_up">
        <label for="create_password" style="display: block" class="form-label">Créer le mot de passe </label>
        <%= f.password_field :password, minlength: 6, autocomplete: "new-password" %>
      </div>

      <div class="field-sign_up">
        <label for="confirm_email" style="display: block" class="form-label">Confirmer le mot de passe </label>
        <%= f.password_field :password_confirmation, minlength: 6, autocomplete: "new-password" %>
      </div>

  <div class="sign-up">
   <div style="text-align: center">
      <%= f.submit "Créer le compte" %><br>
      <br>
    <%= render "devise/shared/links" %>
    </div>
   </div>
  <% end %>
  </div>
  </div>
</div>
