<h1>Bienvenue sur le dashboard Admin </h1>

<p>veuillez valider OU PAS les events suivants</p>

<% @events_false.each do |event| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= event.title %></h5>
      <p class="card-text"><%= event.description %></p>
      <p class="card-text"><%= event.price %>€</p>
    </div>
    <%= button_to "valider l'event", admin_path(event), method: :patch %>
    <%= button_to "Supprimer cet event", admin_path(event), method: :delete %>
  </div>
<% end %>

