<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="card-forgot_password">
  <div class="card-body-forgot_password">
    <h1 style="text-align: center">MOT DE PASSE OUBLIÉ</h1>
    <br>
    <div class="text-center field-forgot_password">
     <%= f.label :email %><br />
     <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

  <div class="actions text-center mt-3">
    <%= f.submit "Réinitialiser le mot de passe", class: 'btn-out' %>
  </div>
<% end %>
  </div>
</div>
