<div id="<%= dom_id event %>">
  <h2 class="special-title">Événe<br>ment</h2>
    <div class="container">
        <div class="d-flex justify-content-center row align-items-center">
          <div class="col-11 col-md-5 py-2">  
            <img src=" <%= event.image_url %> " class="img-slider rounded-2 col-12" alt="Image de l'événement">
          </div>
        <div class="event-card d-flex col-10 col-md-5 flex-column align-items-center offset-md-1">
            <h4 class="event-title text">
                <strong>
                    <%= event.title %><p> proposé par : <%= User.find_by(id: event.user_id)&.pseudo %>
                </strong>
            </h4>
            <div class="card-box card mb-3 p-3">
                <div class="row g-0"> 
                    <div class="col-md-8">
                        <div class="card-body">
                            <p>
                                <strong>Description:</strong>
                                <br>
                                <%= event.description %>
                            </p>
                            <div class="info-event">
                                <p>
                                    <strong>Ville:</strong>
                                    <br>
                                    <%= event.city %>, <%= event.zip_code %>
                                </p>
                            </div>
                            <p>
                                <strong>Date:</strong>
                                <br>
                                <%= event.start_date.strftime("%d %B %Y") %>
                            </p>
                            <p>
                                <strong>Durée:</strong>
                                <br>
                                <%= event.duration %> h
                            </p>
                            <p>
                                <strong>Prix:</strong>
                                <br>
                                <%= event.price %> &euro;
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                <% if user_signed_in? %>
                        <%= form_for @order do |f| %>
                        <%= f.hidden_field :event_id, value: @event.id %>
                        <%= f.hidden_field :cart_id, value: current_user.cart.id %>
                        <button type="submit" class="btn validation-button">Ajouter au panier</button>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>