<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= event.price %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= event.image_url %>
  </p>

  <p>
    <strong>City:</strong>
    <%= event.city %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= event.zip_code %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= event.duration %>
  </p>

</div>
