<div id="<%= dom_id event %>">
    <div class="container">
      <h1 class="special-title">Evène<br>ment</h1>
          <br>

        <div class="d-flex">
          <div>  
            <img src=" <%= event.image_url %> " class="img-fluid rounded-start" alt="image de l'évènement">
          </div>

        <div class="event-card d-flex flex-column align-items-center">
            <h5 class="event-title">
                <strong>
                    <%= event.title %>
                </strong>
            </h5>
            <div class="card mb-3" style="max-width: 500px;">
                <div class="row g-0">
                  
                    <div class="col-md-8">
                        <div class="card-body">
                            <p>
                                <strong>Description:</strong>
                                <br>
                                <%= event.description %>
                            </p>
                            <div class="info-event">
                                <p>
                                    <strong>Ville:</strong>
                                    <br>
                                    <%= event.city %>, <%= event.zip_code %>
                                </p>
                            </div>
                            <p>
                                <strong>Date:</strong>
                                <br>
                                <%= event.start_date %>
                            </p>
                            <p>
                                <strong>Durée:</strong>
                                <br>
                                <%= event.duration %> h
                            </p>
                            <p>
                                <strong>Prix:</strong>
                                <br>
                                <%= event.price %> &euro;
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% if user_signed_in? %>
            <%= form_for @order do |f| %>
            <%= f.hidden_field :event_id, value: @event.id %>
            <%= f.hidden_field :cart_id, value: current_user.cart.id %>
            <button type="submit" class="btn btn-success">Je réserve mon billet</button>
            <% end %>
            <% end %>
            <br /><br />
            </div>
        </div>
    </div>
</div>