<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <ul>
      <li>Veuillez compléter les champs manquants</li>
      <ul>
    </div>
  <% end %>

<div class="form-create-event flex-column align-items-center p-4 rounded-3">
  <div class="py-2 form-group text-center">
    <label for="title" style="display: block" class="form-label">Titre </label>
    <%= form.text_field :title ,class: "form-input rounded-3" %>
  </div>

  <div class="py-2 form-group text-center">
    <label for="description" style="display: block" class="form-label">Description </label>
    <%= form.text_area :description ,class: "form-input rounded-3" %>
  </div>

  <div class="py-2 form-group text-center">
    <label for="image_url" style="display: block" class="form-label">Image <i>(renseigner le lien URL de votre image)</i></label>
    <%= form.text_field :image_url ,class: "form-input rounded-3" %>
  </div>

  <div class="py-2 form-group text-center">
    <label for="city" style="display: block" class="form-label">Ville </label>
    <%= form.text_field :city ,class: "form-input rounded-3" %>
  </div>

  <div class="py-2 form-group text-center">
    <label for="zip_code" style="display: block" class="form-label">Code Postal </label>
    <%= form.text_field :zip_code ,class: "form-input rounded-3" %>
  </div>

  <div class="py-2 form-group text-center">
    <label for="start_date" style="display: block" class="form-label">Date </label>
    <%= form.datetime_field :start_date ,class: "form-input rounded-3 text-center" %>
  </div>

  <div class="py-2 form-group text-center">
    <label for="duration" style="display: block" class="form-label">Durée <i>(en heure)</i></label>
    <%= form.number_field :duration ,class: "form-input rounded-3" %>
  </div>

  <div class="py-2 form-group text-center">
    <label for="price" style="display: block" class="form-label">Prix </label>
    <%= form.number_field :price ,class: "form-input rounded-3"%>
  </div>
  
  <div class="py-3">
   <div style="text-align: center">
    <%= form.submit "Créer l'événement", class: "buttonMore py-1" %>
   </div>
  </div>
</div>
<% end %>
