<div class="container">
  <div class="col-lg-8 col-md-8 col-sm-4">
    <p style="color: green"><%= notice %></p>

    <%= render @event %>

    <% if user_signed_in? && current_user.role === 'admin' %>
      <%= link_to "Corriger l'événement", edit_event_path(@event) %> |
      <%= link_to "Retour aux événements", events_path %>
      <br>
      <%= button_to "Supprimer", @event, method: :delete, class: "custom-button" %>
    <% end %>
  </div>
</div>