<p style="color: green"><%= notice %></p>

<h2 class="text-uppercase txt-blue head-title mb-5">évène<br>ment</h2>

<%= render @event %>


<div>
  <% if user_signed_in? && current_user.role === 'admin' %>
    <%= link_to "Edit this event", edit_event_path(@event) %> |
    <%= link_to "Back to events", events_path %>

    <%= button_to "Destroy this event", @event, method: :delete %>
  <% end %>
</div>
