<div class="container">
    <h2 class="title-page">MON <br> PANIER</h2>
    <br/>
    <div class="row text-card">
        <div class="col-lg-8 col-md-8">
            <dl class="row">
                <% total_price = [] %>
                <% @events_in_cart.each do |event| %>
                    <dt class="col-sm-3">Quantité</dt>
                    <dd class="col-sm-9"><%= event.quantity %></dd>

                        <hr>
                    
                    <dl class="row">
                    <dt class="col-sm-3">Nom de l'événement</dt>
                    <dd class="col-sm-6"><%= event.event.title %></dd>
                    <dd class="col-sm-3">
                        <%= button_to "Supprimer cet article", order_path(event.id), method: :delete, class: 'btn-out' %>
                    </dd>
                    </dl>

                        <hr>
                    
                    <dt class="col-sm-3">Prix unitaire</dt>
                    <dd class="col-sm-9"><%= event.event.price %> €</dd>

                        <hr>
                    
                    <dt class="col-sm-3">Prix selon quantité</dt>
                    <dd class="col-sm-9"><%= total_event = event.event.price * event.quantity.to_d %> €</dd>
                    
                    <% total_price << total_event %>
                    
                    <dt class="col-sm-3"></dt>
                    <dd class="col-sm-9"></dd>
                <% end %>
                
                <dt class="col-sm-3"></dt>
                <dd class="col-sm-9"></dd>
                
                <dt class="col-sm-3"></dt>
                <dd class="col-sm-9"></dd>
                
                <dt class="col-sm-3 font-weight-bold">Prix total :</dt>
                <dd class="col-sm-9"><%= total_price.inject(0){|sum,x| sum + x } %> €</dd>
            </dl>
        </div>
    </div>
    
    <% if @events_in_cart.any? %>
        <%= button_to "Passer commande", checkout_create_path(total: total_price.inject(0){|sum,x| sum + x }), class: 'btn-out', data: {turbo: false} %>
    <% end %>
</div>