<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="container-log_in">
 <div class="card-body-log_in">
    <h1 style="text-align: center">SE CONNECTER</h1>
  <div class="field-log_in">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field-log_in">
    <%= f.label :mot_de_passe %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="log-in">
   <div style="text-align: center">
    <%= f.submit "Se connecter" %><br>
    <br>
    <%= render "devise/shared/links" %>
   </div>
  </div>
  <% end %>
 </div>
 </div>
</div>
